.navbar{
    background-color: white;
    padding: 2px 15px 2px 15px;
}
/*
body{
    background-image:url(/img/bg8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/


h1{
/*    font-family: 'Bilbo', cursive;*/
    font-family: 'Courgette', cursive;
/*    font-family: 'Kaushan Script', cursive;*/
    font-family: 'Marck Script', cursive;
/*    font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Poiret One', cursive;
/*    font-family: 'Raleway', sans-serif;*/
    font-family: 'Sacramento', cursive;
/*    font-family: 'Comfortaa', cursive;*/
    font-family: 'Montez', cursive;
/*    font-family: 'Tulpen One', cursive;*/
/*    font-family: 'Righteous', cursive;*/
    font-family: 'Comfortaa', cursive;

}
h2{
    font-family: 'Zilla Slab Highlight', cursive;
    font-size:1.5rem;
}
h3{
    font-family: 'Reenie Beanie', cursive;
}
h4{
    font-family: 'Fredericka the Great', cursive;
}
h5{
    font-family: 'Montserrat', sans-serif;
}
h6{
    font-family: 'Fira Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Inconsolata', monospace;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Josefin Slab', serif;
}
