.navbar {
    background-color: white;
    padding: 2px 15px 0px 15px;
    margin-bottom: 50px;
}

a.nav-link {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
}

.navbar-brand {
    margin-top: -10px;
}

a.nav-link:hover {
    /*    text-decoration: underline;*/
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: #4f4f4f;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4rem;
    
}

h5 {}

h6 {
    font-family: 'Fira Mono', monospace;
    font-size: .9rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.jumbotron {
    background-color: white;
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px aquamarine;
}

.card-header {
    font-size: 20px;
    background: none;
}

.list-group-item {
    font-family: 'Fira Mono', monospace;
    font-size: .8rem;
}

.card-text {
    font-size: .9rem;
}

.card-link a {
    font-size: .9rem;
}

.card-link a:hover {
    font-size: .9rem;
    text-decoration: none;
}

.contactMe a:hover,
.contactMe a{
    color: #0f236a;
    text-decoration: none;
}
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}
label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}