.navbar{
    background-color: white;
    padding: 2px 15px 0px 15px;
}
a.nav-link{
    font-family: 'Comfortaa', cursive;
    text-transform: lowercase;
}
.navbar-brand{
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5rem;
}
a.nav-link:hover{
/*    text-decoration: underline;*/
}

h1{
    font-family: 'Courgette', cursive;
    font-size: 3.5rem;
    
/*    font-family: 'Comfortaa', cursive;*/
}
h2{
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 1.5rem;
}
h3{
    font-family: 'Reenie Beanie', cursive;
}
h4{
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
h6{
    font-family: 'Fira Mono', monospace;
    font-size: .8rem;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
