/* NAVBAR */
.navbar {
    background-color: white;
    padding: 2px 15px 0px 15px;
}
a.nav-link {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    transition: all ease-in-out 150ms;
}
.navbar-brand {
    margin-top: -10px;
}
a.nav-link:hover {
    margin-top: -3px;
}
/* /NAVBAR */

/* FONTS */
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    color:white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    color:rgb(202, 202, 202);
}
h3 {
    font-family: 'Fira Mono', monospace;
    font-size: 1.3rem;
    color:rgb(202, 202, 202);
}
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4rem;
}
h5 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size:3rem;
}
h6 {
    font-family: 'Fira Mono', monospace;
    font-size: .9rem;
    color:white;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}
.form-group label{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}
/* /FONTS */

html, 
body, 
#section_About,
#section_Projects, 
#section_Contact{
    height:auto;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}
#section_About, 
#section_Projects, 
#section_Contact{
    height:auto;
    padding-top:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height:100%;
    min-height: 100vh;
}
#section_About {
    background-color:black;
    background-image: url(/img/bg4.jpg);
}
#section_Projects {
    background-color: whitesmoke;
    padding-left:20px;
    padding-right:20px;
}
#section_Contact {
    background-color:black;
    background-image: url(/img/bg2.jpg);
}

 .container{
    margin:0;
    padding:0;
    max-width:100%;
}

/* SOCIAL ICONS */
.fab.fa-github,
.fab.fa-kaggle,
.fab.fa-linkedin,
.far.fa-envelope{
    font-size:3em;
    padding:0 20px 0 0;
    text-decoration: none;
}
.social-icons{
    margin:40px 0 0 -30px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.social-icons a:nth-child(1) {
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
    color:#FFFFFF;
}
.social-icons a:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}
.social-icons a:nth-child(2) {
    color:#0177B5;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}
.social-icons a:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}
.social-icons a:nth-child(3) {
    color:#27B3ED;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
}
.social-icons a:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
}
.social-icons a:nth-child(4) {
    color:#DC4C3F;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}
.social-icons a:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}
/* /SOCIAL ICONS */

.resume-button a{
    margin: 50px 0 0 15px;
    /* text-decoration: none; */
    /* text-transform: lowercase; */
    /* text-color:black; */
}

/* .jumbotron {
    background-color: white;
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px aquamarine;
} */

.card-header {
    font-size: 20px;
    background: none;
}

.list-group-item {
    font-family: 'Fira Mono', monospace;
    font-size: .8rem;
}

.card-text {
    font-size: .9rem;
}

.card-link a {
    font-size: .9rem;
}

.card-link a:hover {
    font-size: .9rem;
    text-decoration: none;
}

.contactMe a:hover,
.contactMe a{
    color: #0f236a;
    text-decoration: none;
}
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}
label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.card-header{
    font-size: 1.4rem;
    color: #F3F7F0;
}
.card-header-color-1{
    background-color: #2E3532;
}
.card-header-color-2{
    background-color: #0E8187;
}
.card-header-color-3{
    background-color: #7A1514;
}
.card-header-color-4{
    background-color: #57467B;
}
.card-header-color-5{
    background-color: #60594D;
}
.card-header-color-6{
    background-color: #34623F;
}
.card-header-color-7{
    background-color: #A35535;
}
.card-header-color-8{
    background-color: #A0A300;
}
.card-header-color-9{
    background-color: #8B635C;
}
.card-header-color-10{
    background-color: #6284EA;
}
.border-color-1{
    border-color: #2E3532;
}
.border-color-2{
    border-color: #0E8187;
}
.border-color-3{
    border-color: #7A1514;
}
.border-color-4{
    border-color: #57467B;
}
.border-color-5{
    border-color: #60594D;
}
.border-color-6{
    border-color: #34623F;
}
.border-color-7{
    border-color: #A35535;
}
.border-color-8{
    border-color: #A0A300;
}
.border-color-9{
    border-color: #8B635C;
}
.border-color-10{
    border-color: #6284EA;
}
.border-color-1{
    border-color: #2E3532;
}
.display-1{
    margin-bottom: 50px;
}