h1,a{
    font-family: 'Comfortaa', cursive;
}
body{
    background-color: white;
    line-height: 1;
    margin: 0;
}

/* NAVBAR */
ul.topnav{
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color:whitesmoke;    
    list-style:none;
    margin:10px;
    padding:2px;
    text-align:center;
}
ul.topnav li{
    display:inline;
}
ul.topnav li a{
    display:inline-block;
    text-transform: uppercase;
    padding:10px;
    text-decoration: none;
}
ul.topnav li a:hover{
    background-color:azure
}
ul.topnav li.dropdownIcon{
    display:none;
}
/* END NAVBAR*/

.container{
    position: fixed;
    width: 500px;
    height: auto;
    margin: 10px;
    left: 50%;
    margin-left: -250px;  /* Negative half of width. */
    padding: 20px;
    background-color: white;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px whitesmoke;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    font-size: 40px;
    border: 0px;
    padding: 0px;
}
/*
.row::after{
    display:table;
    clear:both;
    content:"";
}
*/
#logo-e{
    border-style: solid;
    border-width: 2px 0px 0px 2px;
    border-color: aquamarine;
}
#logo-u{
    border-style: solid;
    border-width: 2px 0px 0px 2px;
    border-color: aquamarine;
}
#logo-e:hover,
#logo-d:hover,
#logo-y:hover,
#logo-u:hover{
    background-color: aquamarine;
} 

/* MOBILE STYLES */
@media screen and (max-width: 530px){
    ul.topnav li:not(:nth-child(1)){
        display:none;
    }
    ul.topnav li.dropdownIcon{
        display:block;
        float:right;
    }
    ul.topnav.responsive li.dropdownIcon{
        position:absolute;
        top:0;
        right:0;
    }
    ul.topnav.responsive{
        position:relative;
    }
    ul.topnav.responsive li{
        display:inline;
        float:none;
    }
    ul.topnav.responsive li a{
        display:block;
        text-align:center;
    }
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
*{
    box-sizing: border-box;
}
[class*="col-"]{
/*    border: 2px solid red;*/
    padding: 15px;
    float: left;
}