.navbar {
    background-color: white;
    padding: 2px 15px 0px 15px;
    margin-bottom: 50px;
}

a.nav-link {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
}

.navbar-brand {
    margin-top: -10px;
}

a.nav-link:hover {
    /*    text-decoration: underline;*/
}


h1 {
    font-family: 'Courgette', cursive;
    font-size: 3.5rem;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {
    font-family: 'Fira Mono', monospace;
    font-size: .9rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.jumbotron {
    background-color: white;
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px aquamarine;
}

.card-header {
    font-size: 20px;
    background: none;
}

.list-group-item {
    font-family: 'Fira Mono', monospace;
    font-size: .8rem;
}

.card-text {
    font-size: .9rem;
}

.card-link a {
    font-size: .9rem;
}

.card-link a:hover {
    font-size: .9rem;
    text-decoration: none;
}

/*Login portal*/
.card-block.signin-cardblock{
    padding:10px;
}
body.signin-body{
    background-color: whitesmoke;
}
.container.signin-container{
    margin-top: 8%;
}
.card.signin-card{
    padding:20px;
    background-color: floralwhite;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -mox-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    max-width: 500px;
}
img.signin-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}
button.btn-signin{
    color:white;
    background-color:dimgrey;
    width:100%;
}