/*Defaults*/
nav,header,footer{
    display: block;
    margin: 0;
}
body{
    background-color: white;
    line-height: 1;
    margin: 0;
}
/*STYLES*/
.container{
    width: auto;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px whitesmoke;
}
.row{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: block;
    clear: both;
    content: "";
}


#splash{
    background-image: linear-gradient(red, whitesmoke);
}
.left-col-6{
    margin-left: 30%;
}
.right-col-6{
    margin-right: 30%;
}
h2.small{
    font-size: 10px;
}
form h2{
    color:brown;
}
input[type="text"]{
    font-size: 15px;
    width:80%;
    min-width:100px;
    padding:5px;
    border-radius: 15px;
}
/*Navbar*/
nav{
    width: 100%;
    margin: 0px;
}
nav ul{
    background-color: white;
    overflow: hidden;
    margin: 1px;
    padding: 1px;
}
ul.topnav li{
    list-style: none;
    float: left;
}
ul.topnav li a:hover{
    background-color: whitesmoke;
}
ul.topnav li.dropdown{
    display: none;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
}
ul.topnav li.dropdownIcon{
    display: none;
}


h1,h2,h3
{
    font-size: 50px;    
}

h1{
    text-align: center;
    line-height: 3rem;
    font-family: 'Major Mono Display', monospace;
}
h1.headerSection1{
    font-size:50px;
    text-align: center;
}
h2{
    text-align: center;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
}

h3{
    text-align: center;
    line-height: 2rem;
    font-family: 'Amatic SC', cursive;
}

img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    display: block;
    margin: auto;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid red;
    padding: 2px;
}

button{
    width: 100px;
    padding: 5px;
    margin: 5px
}
a{
    text-decoration: none;
    color:black;
}
div.box{
    background-color: whitesmoke;
    box-shadow: 20px;
    text-align: center;
    font-size: 12px;
    margin:5px;
    padding:10px,5px,10px,5px;
}
div.icon{
    width=100%;
}
label{
    font-size: 12px;
    font-weight:1000;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
*{
    box-sizing: border-box;
}
[class*="col-"]{
    border: 2px solid red;
    padding: 15px;
    float: left;
}

/*MOBILE navbar*/
@media screen and (max-width:680px){
    ul.topnav li:not(:nth-child(1)){
        display:none;
    }
    ul.topnav li.dropdownIcon{
        display:block;
        float:right;
    }
    ul.topnav.responsive li.dropdownIcon{
        position:absolute;
        top:0;
        right:0;
    }
    ul.topnav.responsive{
        position:relative;
    }
    ul.topnav.responsive li{
        display:inline;
        float:none;
    }
    ul.topnav.responsive li a{
        display:block;
        text-align: left;
    }
    .col-6,.col-4{
        width: 100%;
        margin: 0;
    }
    div.box{
        padding:0px;
        margin:0px;
    }
    div.left-col-6,
    div.right-col-6{
        margin:15px;
    }
    input[type="text"]{
        width:250px;
    }
    .videoContainer iframe{
        position:relative;
        width:100%;
        margin:0;
        overflow:hidden;
        
    }
}